 
     <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/" class="nav-item nav-link ">Home</a>
                            <a href="../products" class="nav-item nav-link ">Products</a>
                            <a href="../products" class="nav-item nav-link">Product Detail</a>
                            <a href="" class="nav-item nav-link">Cart</a>
                            <a href="" class="nav-item nav-link">Checkout</a>
                            <a href="user/login" class="nav-item nav-link">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Wishlist</a>
                                    <a href="/user/login" class="dropdown-item active">Login</a>
                                    <a href="/user/register" class="dropdown-item">Register</a>
                                    <a href="" class="dropdown-item">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                                <div class="dropdown-menu">
                                    <a href="/user/login" class="dropdown-item">Login</a>
                                    <a href="/user/register" class="dropdown-item">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
  
  
  
  <div>

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Login </li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
     
        <!-- Login Start -->
        <form action="" >
        <div class="login container-fluid row" >
                <div class="col-1 col-md-3"></div>
                <div class="col-10 col-md-6 login-form ">
                            <div>
                                    <div class="text-center">
                                    <img src="img/logo.png" alt="" height="100px">
                                    </div>
                                    <h2 class="text-center">User Login</h2>
                                </div>
                                <div class="form-group ">
                                    <label>E-mail / Username</label>
                                    <input class="form-control" type="text" placeholder="E-mail / Username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-login text-center">Login</button>
                                </div>
                                <div class="text-center">
                                     <a href="#"> Forget password?</a>
                                </div>
                                <div class="btn-register">
                                    <button class="btn btn-primary text-center">Register</button>
                                </div>
                </div>
                <div class="col-1 col-md-3"></div>
            </div>
    </form>
        <!-- Login End -->
    </div>
