  <div>

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Login </li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
     
        <!-- Login Start -->
        <form action="" >
        <div class="login container-fluid row" >
                <div class="col-1 col-md-3"></div>
                <div class="col-10 col-md-6 login-form ">
                            <h2 class="text-center">User Login</h2>
                                <div class="form-group ">
                                    <label>E-mail / Username</label>
                                    <input class="form-control" type="text" placeholder="E-mail / Username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-login text-center">Login</button>
                                </div>
                                <div class="text-center">
                                    <p>Not a member? <a href="register.html"> Signup Now</a></p>
                                </div>
                </div>
                <div class="col-1 col-md-3"></div>
            </div>
    </form>
        <!-- Login End -->
    </div>
